/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*  typography */
/* @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Inter:300,400,500,700"); */
@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}



body , .p-normal , p , a{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.35;
}

.p-large{
  font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.4;
}

.p-small{
  font-family: "Inter", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
}


p-lg, .paragraph-lg {
  font-size: 22px;
}

h1 , .h1{
  font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 900;
font-size: 82px;
line-height: 99px;
}

h2 , .h2 {
  font-family: "Inter", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 77px;
}

h3 , .h3 {
  font-family: "Inter", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
}
img {
	opacity: 1;
	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}
.fade{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.fadeimage{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}


@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

h2, .h2 {
  font-size: 60px;
}

@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */
.button {
  font-size: 22px;
  /* font-family: "Playfair Display", serif; */
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.button:focus {
  outline: 0;
  box-shadow: none !important;
}

.button:active {
  box-shadow: none;
}

.button.is-small {
  font-size: 15px;
  padding: 10px 30px;
}

.button.is-extra-small {
  padding: 5px 10px;
  font-size: 15px;
}

.button.is-primary {
  background-color: #41228e;
  color: #fff;
}

.button.is-primary:active {
  background-color: #542cb7 !important;
}

.button.is-primary:hover {
  background-color: #542cb7;
}

.button.is-primary.focus, .button.is-primary.is-active {
  background-color: #542cb7 !important;
  box-shadow: none !important;
}

.button.is-link {
  background-color: transparent;
  color: #41228e;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

.button.is-link:active, .button.is-link:hover {
  color: #41228e;
  background: transparent;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #542cb7;
  color: #fff;
}

::selection {
  background: #542cb7;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  margin-bottom: 60px;
  font-family: "BwNistaInt-xBd";
}

.section.is-small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.has-background-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.has-background-primary {
  background: #41228e !important;
}

.has-background-gray {
  background: #eaeaea !important;
}

.has-text-primary {
  color: #41228e !important;
}

.has-text-color {
  color: #4c4c4c;
}

.has-text-dark {
  color: #000 !important;
}

.has-text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mr-20 {
  margin-right: 20px;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  /* font-family: "Playfair Display", serif !important; */
}

.font-tertiary {
  font-family: "BwNistaInt-xBd" !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
  height: unset;
  width: unset;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
  box-shadow: none;
}

.input:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important;
}

textarea.input {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}

.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

/* /card */
.list-hero-social {
  position: relative;
  z-index: 1;
  background: transparent;
  box-shadow: none;
  border: none;
  width: 40px;
  margin: 30px 0 0 50px;
}

.list-hero-social .list-item {
  border: none;
  background: transparent;
}

.is-rounded {
  border-radius: 50%;
}

.image.is-full {
  width: 100%;
}

.has-border-top {
  border-top: 1px solid #c7c7c7;
}

.has-border-bottom {
  border-bottom: 1px solid #c7c7c7;
}

.is-border-dark {
  border-color: #343a40 !important;
}

.is-border-white {
  border-color: #fff !important;
}

.has-padding-top-15 {
  padding-top: 15px;
}

.has-padding-20 {
  padding: 20px;
}

.buttons .button input {
  width: 0;
  visibility: hidden;
}

.navbar {
  padding: 40px 130px;
  transition: .3s ease;
  background: transparent !important;
}

.navbar.nav-bg {
  background-color: #41228e !important;
  padding: 15px 100px;
}

@media (max-width: 991px) {
  .navbar.nav-bg {
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding: 20px;
    background: #41228e !important;
  }
}

.navbar-item {
  text-transform: uppercase;
}

.navbar-item:hover {
  background-color: transparent !important;
}

.hero-area {
  padding: 300px 0 200px;
  position: relative;
}

@media (max-width: 767px) {
  .hero-area {
    padding: 250px 24px 150px 24px;
    overflow: hidden;
  }
  body , .p-normal , p , a{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.35;
  }
  
  .p-large{
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  }

  .p-small{
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.35;
  }
  
  
  p-lg, .paragraph-lg {
    font-size: 18px;
  }
  
  h1 , .h1{
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.35;
  }
  
  h2 , .h2 {
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.35;
  }
  
  h3 , .h3 {
    font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.35;
  }
  
  
}

.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -200px;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: .3s ease;
}

.hover-bg-primary:hover {
  background: #41228e;
}

.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: .3s ease;
  background: #41228e;
}

.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: .2s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}

.hover-wrapper img {
  transition: .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover-wrapper:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  /* padding-top: 200px; */
}

.section-on-footer {
  /* margin-bottom: -250px; */
}

.shadow-down {
  position: relative;
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px;
}

.content * {
  margin-bottom: 20px;
}

.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}

@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}

.page-title .container {
  position: relative;
  z-index: 1;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}

.filter-controls li.active {
  font-weight: bold;
}

/* shimmer loading */

.shim {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  background: #f6f7f9;
  background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
  background-repeat: no-repeat;
  background-size: 256px 256px;
  height: 256px;
  position: relative;
}

@keyframes placeHolderShimmer{
  
  0% {
      background-position: -256px 0;
  }
  100% {
      background-position: 256px 0;
  }
  }

  .cover{
   object-fit: cover;
  }



/* spacing classes */

.mt-0, .my-0, .m-0 {
  margin-top: 0rem;
}
.pt-0, .py-0, .p-0 {
  padding-top: 0rem;
}
.mb-0, .my-0, .m-0 {
  margin-bottom: 0rem;
}
.pb-0, .py-0, .p-0 {
  padding-bottom: 0rem;
}
.ml-0, .mx-0, .m-0 {
  margin-left: 0rem;
}
.pl-0, .px-0, .p-0 {
  padding-left: 0rem;
}
.mr-0, .mx-0, .m-0 {
  margin-right: 0rem;
}
.pr-0, .px-0, .p-0 {
  padding-right: 0rem;
}
.mt-1, .my-1, .m-1 {
  margin-top: 0.25rem;
}
.pt-1, .py-1, .p-1 {
  padding-top: 0.25rem;
}
.mb-1, .my-1, .m-1 {
  margin-bottom: 0.25rem;
}
.pb-1, .py-1, .p-1 {
  padding-bottom: 0.25rem;
}
.ml-1, .mx-1, .m-1 {
  margin-left: 0.25rem;
}
.pl-1, .px-1, .p-1 {
  padding-left: 0.25rem;
}
.mr-1, .mx-1, .m-1 {
  margin-right: 0.25rem;
}
.pr-1, .px-1, .p-1 {
  padding-right: 0.25rem;
}
.mt-2, .my-2, .m-2 {
  margin-top: 0.5rem;
}
.pt-2, .py-2, .p-2 {
  padding-top: 0.5rem;
}
.mb-2, .my-2, .m-2 {
  margin-bottom: 0.5rem;
}
.pb-2, .py-2, .p-2 {
  padding-bottom: 0.5rem;
}
.ml-2, .mx-2, .m-2 {
  margin-left: 0.5rem;
}
.pl-2, .px-2, .p-2 {
  padding-left: 0.5rem;
}
.mr-2, .mx-2, .m-2 {
  margin-right: 0.5rem;
}
.pr-2, .px-2, .p-2 {
  padding-right: 0.5rem;
}
.mt-3, .my-3, .m-3 {
  margin-top: 0.75rem;
}
.pt-3, .py-3, .p-3 {
  padding-top: 0.75rem;
}
.mb-3, .my-3, .m-3 {
  margin-bottom: 0.75rem;
}
.pb-3, .py-3, .p-3 {
  padding-bottom: 0.75rem;
}
.ml-3, .mx-3, .m-3 {
  margin-left: 0.75rem;
}
.pl-3, .px-3, .p-3 {
  padding-left: 0.75rem;
}
.mr-3, .mx-3, .m-3 {
  margin-right: 0.75rem;
}
.pr-3, .px-3, .p-3 {
  padding-right: 0.75rem;
}
.mt-4, .my-4, .m-4 {
  margin-top: 1rem;
}
.pt-4, .py-4, .p-4 {
  padding-top: 1rem;
}
.mb-4, .my-4, .m-4 {
  margin-bottom: 1rem;
}
.pb-4, .py-4, .p-4 {
  padding-bottom: 1rem;
}
.ml-4, .mx-4, .m-4 {
  margin-left: 1rem;
}
.pl-4, .px-4, .p-4 {
  padding-left: 1rem;
}
.mr-4, .mx-4, .m-4 {
  margin-right: 1rem;
}
.pr-4, .px-4, .p-4 {
  padding-right: 1rem;
}
.mt-5, .my-5, .m-5 {
  margin-top: 1.25rem;
}
.pt-5, .py-5, .p-5 {
  padding-top: 1.25rem;
}
.mb-5, .my-5, .m-5 {
  margin-bottom: 1.25rem;
}
.pb-5, .py-5, .p-5 {
  padding-bottom: 1.25rem;
}
.ml-5, .mx-5, .m-5 {
  margin-left: 1.25rem;
}
.pl-5, .px-5, .p-5 {
  padding-left: 1.25rem;
}
.mr-5, .mx-5, .m-5 {
  margin-right: 1.25rem;
}
.pr-5, .px-5, .p-5 {
  padding-right: 1.25rem;
}
.mt-6, .my-6, .m-6 {
  margin-top: 1.5rem;
}
.pt-6, .py-6, .p-6 {
  padding-top: 1.5rem;
}
.mb-6, .my-6, .m-6 {
  margin-bottom: 1.5rem;
}
.pb-6, .py-6, .p-6 {
  padding-bottom: 1.5rem;
}
.ml-6, .mx-6, .m-6 {
  margin-left: 1.5rem;
}
.pl-6, .px-6, .p-6 {
  padding-left: 1.5rem;
}
.mr-6, .mx-6, .m-6 {
  margin-right: 1.5rem;
}
.pr-6, .px-6, .p-6 {
  padding-right: 1.5rem;
}
.mt-8, .my-8, .m-8 {
  margin-top: 2rem;
}
.pt-8, .py-8, .p-8 {
  padding-top: 2rem;
}
.mb-8, .my-8, .m-8 {
  margin-bottom: 2rem;
}
.pb-8, .py-8, .p-8 {
  padding-bottom: 2rem;
}
.ml-8, .mx-8, .m-8 {
  margin-left: 2rem;
}
.pl-8, .px-8, .p-8 {
  padding-left: 2rem;
}
.mr-8, .mx-8, .m-8 {
  margin-right: 2rem;
}
.pr-8, .px-8, .p-8 {
  padding-right: 2rem;
}
.mt-10, .my-10, .m-10 {
  margin-top: 2.5rem;
}
.pt-10, .py-10, .p-10 {
  padding-top: 2.5rem;
}
.mb-10, .my-10, .m-10 {
  margin-bottom: 2.5rem;
}
.pb-10, .py-10, .p-10 {
  padding-bottom: 2.5rem;
}
.ml-10, .mx-10, .m-10 {
  margin-left: 2.5rem;
}
.pl-10, .px-10, .p-10 {
  padding-left: 2.5rem;
}
.mr-10, .mx-10, .m-10 {
  margin-right: 2.5rem;
}
.pr-10, .px-10, .p-10 {
  padding-right: 2.5rem;
}
.mt-12, .my-12, .m-12 {
  margin-top: 3rem;
}
.pt-12, .py-12, .p-12 {
  padding-top: 3rem;
}
.mb-12, .my-12, .m-12 {
  margin-bottom: 3rem;
}
.pb-12, .py-12, .p-12 {
  padding-bottom: 3rem;
}
.ml-12, .mx-12, .m-12 {
  margin-left: 3rem;
}
.pl-12, .px-12, .p-12 {
  padding-left: 3rem;
}
.mr-12, .mx-12, .m-12 {
  margin-right: 3rem;
}
.pr-12, .px-12, .p-12 {
  padding-right: 3rem;
}
.mt-16, .my-16, .m-16 {
  margin-top: 4rem;
}
.pt-16, .py-16, .p-16 {
  padding-top: 4rem;
}
.mb-16, .my-16, .m-16 {
  margin-bottom: 4rem;
}
.pb-16, .py-16, .p-16 {
  padding-bottom: 4rem;
}
.ml-16, .mx-16, .m-16 {
  margin-left: 4rem;
}
.pl-16, .px-16, .p-16 {
  padding-left: 4rem;
}
.mr-16, .mx-16, .m-16 {
  margin-right: 4rem;
}
.pr-16, .px-16, .p-16 {
  padding-right: 4rem;
}
.mt-20, .my-20, .m-20 {
  margin-top: 5rem;
}
.pt-20, .py-20, .p-20 {
  padding-top: 5rem;
}
.mb-20, .my-20, .m-20 {
  margin-bottom: 5rem;
}
.pb-20, .py-20, .p-20 {
  padding-bottom: 5rem;
}
.ml-20, .mx-20, .m-20 {
  margin-left: 5rem;
}
.pl-20, .px-20, .p-20 {
  padding-left: 5rem;
}
.mr-20, .mx-20, .m-20 {
  margin-right: 5rem;
}
.pr-20, .px-20, .p-20 {
  padding-right: 5rem;
}
.mt-24, .my-24, .m-24 {
  margin-top: 6rem;
}
.pt-24, .py-24, .p-24 {
  padding-top: 6rem;
}
.mb-24, .my-24, .m-24 {
  margin-bottom: 6rem;
}
.pb-24, .py-24, .p-24 {
  padding-bottom: 6rem;
}
.ml-24, .mx-24, .m-24 {
  margin-left: 6rem;
}
.pl-24, .px-24, .p-24 {
  padding-left: 6rem;
}
.mr-24, .mx-24, .m-24 {
  margin-right: 6rem;
}
.pr-24, .px-24, .p-24 {
  padding-right: 6rem;
}
.mt-32, .my-32, .m-32 {
  margin-top: 8rem;
}
.pt-32, .py-32, .p-32 {
  padding-top: 8rem;
}
.mb-32, .my-32, .m-32 {
  margin-bottom: 8rem;
}
.pb-32, .py-32, .p-32 {
  padding-bottom: 8rem;
}
.ml-32, .mx-32, .m-32 {
  margin-left: 8rem;
}
.pl-32, .px-32, .p-32 {
  padding-left: 8rem;
}
.mr-32, .mx-32, .m-32 {
  margin-right: 8rem;
}
.pr-32, .px-32, .p-32 {
  padding-right: 8rem;
}
.mt-40, .my-40, .m-40 {
  margin-top: 10rem;
}
.pt-40, .py-40, .p-40 {
  padding-top: 10rem;
}
.mb-40, .my-40, .m-40 {
  margin-bottom: 10rem;
}
.pb-40, .py-40, .p-40 {
  padding-bottom: 10rem;
}
.ml-40, .mx-40, .m-40 {
  margin-left: 10rem;
}
.pl-40, .px-40, .p-40 {
  padding-left: 10rem;
}
.mr-40, .mx-40, .m-40 {
  margin-right: 10rem;
}
.pr-40, .px-40, .p-40 {
  padding-right: 10rem;
}
.mt-48, .my-48, .m-48 {
  margin-top: 12rem;
}
.pt-48, .py-48, .p-48 {
  padding-top: 12rem;
}
.mb-48, .my-48, .m-48 {
  margin-bottom: 12rem;
}
.pb-48, .py-48, .p-48 {
  padding-bottom: 12rem;
}
.ml-48, .mx-48, .m-48 {
  margin-left: 12rem;
}
.pl-48, .px-48, .p-48 {
  padding-left: 12rem;
}
.mr-48, .mx-48, .m-48 {
  margin-right: 12rem;
}
.pr-48, .px-48, .p-48 {
  padding-right: 12rem;
}
.mt-56, .my-56, .m-56 {
  margin-top: 14rem;
}
.pt-56, .py-56, .p-56 {
  padding-top: 14rem;
}
.mb-56, .my-56, .m-56 {
  margin-bottom: 14rem;
}
.pb-56, .py-56, .p-56 {
  padding-bottom: 14rem;
}
.ml-56, .mx-56, .m-56 {
  margin-left: 14rem;
}
.pl-56, .px-56, .p-56 {
  padding-left: 14rem;
}
.mr-56, .mx-56, .m-56 {
  margin-right: 14rem;
}
.pr-56, .px-56, .p-56 {
  padding-right: 14rem;
}
.mt-64, .my-64, .m-64 {
  margin-top: 16rem;
}
.pt-64, .py-64, .p-64 {
  padding-top: 16rem;
}
.mb-64, .my-64, .m-64 {
  margin-bottom: 16rem;
}
.pb-64, .py-64, .p-64 {
  padding-bottom: 16rem;
}
.ml-64, .mx-64, .m-64 {
  margin-left: 16rem;
}
.pl-64, .px-64, .p-64 {
  padding-left: 16rem;
}
.mr-64, .mx-64, .m-64 {
  margin-right: 16rem;
}
.pr-64, .px-64, .p-64 {
  padding-right: 16rem;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


/*# sourceMappingURL=maps/style.css.map */
